# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg
*.egg-info/
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Virtual environment
.env
.venv
env/
venv/
ENV/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDE-specific files
# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# PyCharm
.idea/

# Web development specific ignores
/node_modules
/dist
/build
/out
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/
.parcel-cache/
.next/
.nuxt/
.vuepress/dist
.svelte-kit/
.angular/
tmp/
*.log
*.sqlite
*.sqlite3
*.db

# OS-specific
.DS_Store
Thumbs.db

# dotenv files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Datasets
.fashion/
03_ml/01_assignments/02_capstone-ai-dl/images_dataSAT

# Models
*.pth
*.keras
