absl-py==2.1.0
altair==5.5.0
amply==0.1.6
annotated-types==0.7.0
anyio==4.7.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.4
attrs==24.3.0
autocommand==2.2.2
autopep8==2.3.1
babel==2.16.0
backoff==2.2.1
backports.tarfile==1.2.0
beautifulsoup4==4.12.3
black==24.10.0
bleach==6.2.0
blinker==1.9.0
brotli==1.1.0
cached-property==1.5.2
cachetools==5.5.0
certifi==2024.12.14
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.0
click==8.1.8
colorama==0.4.6
comm==0.2.2
contourpy==1.3.1
cryptography==44.0.0
ctranslate2==4.5.0
cycler==0.12.1
debugpy==1.8.11
decorator==5.1.1
deepl==1.20.0
defusedxml==0.7.1
docutils==0.21.2
entrypoints==0.4
et_xmlfile==2.0.0
exceptiongroup==1.2.2
executing==2.1.0
fastjsonschema==2.21.1
filelock==3.16.1
flask==3.1.0
flatbuffers==24.12.23
fonttools==4.55.3
fpdf==1.7.2
fqdn==1.5.1
fsspec==2024.12.0
gast==0.4.0
google-auth==2.37.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googletrans==4.0.0rc1
greenlet==3.1.1
grpcio==1.68.1
gtts==2.5.4
h11==0.14.0
h2==3.2.0
h5py==3.12.1
hpack==3.0.0
hstspreload==2025.1.1
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.27.1
hyperframe==5.2.0
idna==2.10
imbalanced-learn==0.13.0
importlib_metadata==8.0.0
importlib_resources==6.4.5
inflect==7.3.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.31.0
ipython_genutils==0.2.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jax==0.4.30
jaxlib==0.4.30
jedi==0.19.2
jinja2==3.1.5
joblib==1.4.2
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupysql==0.10.16
jupysql-plugin==0.4.5
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.11.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kagglehub==0.3.6
keras==2.10.0
keras-preprocessing==1.1.2
kiwisolver==1.4.7
libclang==18.1.1
lightgbm==4.5.0
markdown==3.7
markupsafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mistune==3.0.2
ml_dtypes==0.5.0
monotonic==1.6
more-itertools==10.3.0
mpmath==1.3.0
munkres==1.1.4
mypy_extensions==1.0.0
narwhals==1.20.1
nbclient==0.10.2
nbconvert==7.16.4
nbformat==5.10.4
nbqa==1.9.0
nest_asyncio==1.6.0
networkx==3.4.2
notebook==7.3.2
notebook_shim==0.2.4
numpy==1.26.4
nvidia-ml-py==12.560.30
oauthlib==3.2.2
opencv-python==4.10.0
opencv-python-headless==4.10.0
openpyxl==3.1.5
opt_einsum==3.4.0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.0
parso==0.8.4
pathspec==0.12.1
patsy==1.0.1
pdf2image==1.17.0
pdfminer==20191125
pdfminer.six==20240706
pickleshare==0.7.5
pillow==11.1.0
pip==24.3.1
pkgutil_resolve_name==1.3.10
platformdirs==4.2.2
ploomber-core==0.2.26
plotly==5.24.1
pluggy==1.5.0
posthog==3.6.5
prettytable==3.12.0
prometheus_client==0.21.1
prompt_toolkit==3.0.48
protobuf==3.19.6
psutil==6.1.1
psycopg2==2.9.9
pulp==2.8.0
pure_eval==0.2.3
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.12.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.5
pydantic_core==2.27.2
pydeck==0.8.0b4
pygments==2.18.0
pymupdf==1.25.1
pynvml==12.0.0
pyparsing==3.2.1
pypdf2==3.0.1
pyserial==3.5
pyside6==6.8.1 
pysocks==1.7.1
pytesseract==0.3.13
pytest==8.3.4
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2024.1
pywin32==307
pywinpty==2.0.14
pyyaml==6.0.2
pyzmq==26.2.0
referencing==0.35.1
regex==2024.11.6
replicate==1.0.4
reportlab==4.2.5
requests==2.32.3
requests-oauthlib==2.0.0
rfc3339_validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rpds-py==0.22.3
rplidar==0.9.2
rsa==4.9
sacremoses==0.1.1
safetensors==0.5.2
scikit-learn==1.6.0
scipy==1.14.1
seaborn==0.13.2
send2trash==1.8.3
sentencepiece==0.2.0
setuptools==75.6.0
shiboken6==6.8.1 
six==1.17.0
sklearn-compat==0.1.3
smbus2==0.5.0
sniffio==1.3.1
soupsieve==2.5
sqlalchemy==2.0.36
sqlglot==26.0.1
sqlparse==0.5.3
stack_data==0.6.3
statsmodels==0.14.4
sympy==1.13.1
tenacity==9.0.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-cpu==2.10.0
tensorflow-directml-plugin==0.4.0.dev230202
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.10.0
termcolor==2.5.0
terminado==0.18.1
threadpoolctl==3.5.0
tinycss2==1.4.0
tokenize_rt==6.1.0
tokenizers==0.21.0
tomli==2.0.1
torch==2.6.0.dev20250104+cu124
torchaudio==2.6.0.dev20250104+cu124
torchvision==0.22.0.dev20250104+cu124
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.48.0
typeguard==4.3.0
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
typing_utils==0.1.0
tzdata==2024.2
ucimlrepo==0.0.7
unicodedata2==15.1.0
uri-template==1.3.0
urllib3==2.3.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
werkzeug==3.1.3
wheel==0.43.0
widgetsnbextension==4.0.13
win_inet_pton==1.1.0
wrapt==1.14.1
xgboost==2.1.3
yapf==0.40.1
zipp==3.19.2
zstandard==0.23.0
